.operators-numbers{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-row-gap: 1vh;
  grid-column-gap: 1vh;
}

.buttons{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.input, .output{
  height: 50%;
  color: #fff;
  font-size: 4vh;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
}


.display{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 15vh;
  padding: 1vh;
  flex-direction: column;
  align-items: flex-end;
}

.decimal, .digit, .operator, .clear, .delete, .equal{
  transition: 0.08s ease-out;
  padding: 15px;
  border: solid black 1px;
  border-radius: 10px;
  background-color: rgb(97, 94, 94, 0.2);
  width: 100%;
  color: #fff;
  font-size: 4vh;
  font-family: 'Montserrat', sans-serif, Verdana, Geneva, Tahoma;
}

.clicked{
  transform: scale(0.9);
  background-color: #fff;
  color: black;
}

.clear-delete{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1vh;
  padding: 1vh 0;
}

.clear, .delete{
  width: 100%;
}

.main-calculator{
  flex-grow: 1;
  padding: 30px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
}

.main-calculator-body{
  transition: 0.2s ease-in;
  box-sizing: border-box;
  background-color: black;
  gap: 1vh;
  width: 60vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  min-width: 256px;
}

.about > h1{
  text-align: center;
  font-weight: 1000;
  width: 100%;
  padding: 0;
  margin: 0;
}

.left-chevron{
  height: auto;
  width: 4vh;
}

.right-chevron{
  height: auto;
  width: 4vh;
}

.about{
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  color: #fff;
  background: #D31027;  
  background: -webkit-linear-gradient(to right, #EA384D, #D31027);  
  background: linear-gradient(to right, #EA384D, #D31027);    
  padding-left: 15px;
  padding-bottom: 15px;
  font-weight: 30;
  font-size: 3.5vh;
  height: 100%;
  width: 100%;
}

.about.hidden{
  transition: 0.3s ease-in;
  height: 0;
  width: 0;
  display: none;
}


.info {
  transition: 0.3s ease-out;
  transform: translateY(-100%);
}

.info.slide-in{
  transform: none;
}

.links-copyright{
  transition: 0.3s ease-out;
  transform: translateY(100%);
  display: flex;
  align-items: center;
}

.links-copyright.slide-in{
  transform: none;
}

.show-about{
  background-color: transparent;
  color: #fff;
  border: none;
}

.show-about > svg{
  transition: 0.1s ease-in;
}

.moving-arrow{
  transform: translateX(-10px);
}

.clicked-arrow{
  transform: rotate(180deg);
}

.clicked-arrow.moving-arrow{
  transform: rotate(180deg) translateX(-10px);
}


body{
  display: flex;
  overflow-x: hidden;
}


body, html{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, Verdana, Geneva, Tahoma;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ad5389; 
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
  background: linear-gradient(to right, #3c1053, #ad5389);
}

@media only screen and (max-width: 1060px){
  body{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .clear-delete{
    gap: 1vh;
    padding: 1vh 0;
  }


  .decimal, .digit, .operator, .clear, .delete, .equal{
    font-size: 4vh !important;
    width: 100%;
  }

  .display{
    width: 100%;
  }

  .input, .output{
    height: 50%;
    font-size: 4vh !important;
    margin: 1vh;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
  }


  .main-calculator-body{
    width: 40vh;
    padding: 2vh; 
  }

  .show-about{
    background-color: transparent;
    color: #fff;
    border: none;
  }

  .show-about > svg{
    transition: 0.1s ease-in;
    transform: rotate(90deg);
  }

  .moving-arrow{
    transform: rotate(90deg) translateX(-10px) !important; 
  }

  .clicked-arrow{
    transform: rotate(270deg) !important;
  }

  .clicked-arrow.moving-arrow{
    transform: rotate(270deg) translateX(-10px) !important;
  }


  .info {
    transition: 0.3s ease-out;
    transform: translateY(+100%);
  }

  .info.slide-in{
    transform: none;
  }

  .links-copyright{
    transition: 0.3s ease-out;
    transform: translateY(100%);
    display: flex;
    align-items: center;
  }
  
  .links-copyright.slide-in{
    transform: none;
  }

  .about{
    padding: 1vh;
    font-size: 2vh;
  }

  .about.hidden{
    height: 0 !important;
    width: 0;
  }
}
