.operators-numbers{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.buttons{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  min-width: 205px;
}

.input, .output{
  height: 50%;
  color: #fff;
  font-size: 25px;
}

.display{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px black;
  padding: 10px;
  height: 82px;
  flex-direction: column;
  align-items: flex-end;
}

.decimal, .digit, .operator, .clear, .delete, .equal, .decimal{
  transition: 0.08s ease-out;
  padding: 15px;
  border: solid black 1px;
  border-radius: 10px;
  background-color: rgb(97, 94, 94, 0.2);
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif, Verdana, Geneva, Tahoma;
}

.clicked{
  transform: scale(0.9);
  background-color: #fff;
  color: black;
}

.clear-delete{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px 0;
}

.clear, .delete{
  width: 100%;
}

.main-calculator{
  padding: 30px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
}

.main-calculator-body{
  box-sizing: border-box;
  background-color: black;
  gap: 15px;
  min-width: 400px !important;
  max-width: 400px;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 1px;
  border-radius: 15px;
  min-width: 256px;
}

.about > h1{
  text-align: center;
  font-weight: 1000;
  width: 100%;
  padding: 0;
  margin: 0;
}

.about{
  transition: 0.25s ease-in;
  box-sizing: border-box;
  display: flex;
  align-self: flex-start;
  background-color: wheat;
  width: 100%;
  padding-left: 15px;
  font-weight: 30;
  font-size: 20px;
  height: 100%;
}

.about.hidden{
  visibility: hidden;
  width: 0;
  padding: 0;
}

.show-about{
  background-color: transparent;
  color: #fff;
  border: none;
}

.show-about svg{
  transition: 0.1s ease-in;
}

.show-about svg:hover{
  transform: translateX(-10px);
}

body{
  display: flex;
  overflow: hidden;
}

body,html{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, Verdana, Geneva, Tahoma;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ad5389; 
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  
  background: linear-gradient(to right, #3c1053, #ad5389);
}